<html>
<h2><strong>CD Catalog</strong></h2>

<body>
<p>Here is your catalog list</p>

</ul>
<% @jobs.each() do |job| %>
<li>
  <p>Artist: <%= job.employer() %> as a <%= job.jobname() %> doing things like <%= job.description() %> for <%= job.yearsworked() %></p></li>
  <% end %>
  </ul>

<form action="/clear"><button type="submit" class="btn btn-danger">Clear</button>
</form>
  <form action="/cd_list" method="post" class="form-horizontal">

  <p class="text-muted">Enter the name of the artist:</p>
  <label for="artist"></label>
  <input id="artist" name="artist" type="text">

  <p class="text-muted">Enter the name of the album:</p>
  <label for="album"> </label>
  <input id="album" name="album" type="text">

  <p class="text-muted">Search</p>
  <label for="search"></label>
  <input id="search" name="search" type="text">

  <button type="submit" class="btn btn-danger">Catalog</button>
  </form>
</form>
</body>
</html>
