<html>
<h2><strong>Resume</strong></h2>

<body>
<p>Here are all the places you hated working</p>

</ul>
<% @jobs.each() do |job| %>
<li>
  <p>You worked for the company <%= job.employer() %> as a <%= job.jobname() %> doing things like <%= job.description() %> for <%= job.yearsworked() %></p></li>
  <% end %>
  </ul>

<form action="/clear"><button type="submit" class="btn btn-danger">Clear</button>
</form>
  <form action="/jobs" method="post" class="form-horizontal">

  <p class="text-muted">Describe the horror:</p>
  <label for="description"></label>
  <input id="description" name="description" type="text">

  <p class="text-muted">Ungreatful Employer</p>
  <label for="employer"> </label>
  <input id="employer" name="employer" type="text">

  <p class="text-muted">Job Position</p>
  <label for="jobname"></label>
  <input id="jobname" name="jobname" type="text">

  <p class="text-muted">Amount of time you wasted there:</p>
  <label for="yearsworked"></label>
  <input id="yearsworked" name="yearsworked" type="text">

  <button type="submit" class="btn btn-danger">Add</button>
  </form>
</form>
</body>
</html>
